
```env
USE_MOCK_DATA=false
TRON_API_BASE_URL=https://api.trongrid.io/v1
TRONGRID_API_KEY=

ENABLE_BANKAI_MCP=false
BANKAI_MCP_BASE_URL=
BANKAI_MCP_API_KEY=
BANKAI_MCP_TIMEOUT_SECONDS=15
ENABLE_LOCAL_TOOL_FALLBACK=true