HYPER_RPC_HTTP=https://rpc.hyperliquid.xyz/evm
HYPER_RPC_WSS=
MORPHO_ADDRESS=0x68e37dE8d93d3496ae143F2E900490f6280C57cD
MARKET_ID=0x64e7db7f042812d4335947a7cdf6af1093d29478aff5f1ccd93cc67f8aadfddc
TELEGRAM_TOKEN=8548225038:AAGBNRFA4dIBeh2w3s7dtLgGSd_TVooXKq0
TELEGRAM_CHAT_ID=7389815564
POLL_INTERVAL_SECONDS=8
BACKFILL_CHUNK_SIZE=1000
MORPHO_GRAPHQL_URL=https://blue-api.morpho.org/graphql
